@charset "utf-8";

#wrap{
    width: 100%;
}

header, main, footer{
    position: relative;
    width: 100%;
}

#blackbg{
    position:fixed;
    top:80px;
    left:0;
    width:100%;
    height:100%;
    z-index:99;
    background: rgba(0,0,0,0.5);
    display:none;
}


#headerIn{
    position: relative;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 5px rgba(0,0,0,0.5); /* 밑부분에 그림자를 넣어주는것 */
    /* box-shadow: X Y 불러값 색상값(0,0,0,0.5);(반투명) */
    z-index:100; 
}

.nav, .user{
    position: relative;
    width: 30px;
    height: 30px;
}

.nav{
    left:10px;
}

.user{
    right:10px;
}

.nav>a, .user>a{
    display: block;
    width: 30px;
    height: 30px;
}

.nav>a>span, .user>a>span{
    display: block;
    width: 30px;
    height: 30px;
    margin: 0 auto;
}

.fa-bars, .fa-user{
    font-size: 30px;

}

.logo{
    width: 120px;
    height: 60px;
    margin: 0 auto;
}

.logo>a{
    display: block;
    width: 120px;
    height: 60px;
    
}

/* gnb부분 */

#gnb{
    position: fixed;
    width: 80%;
    height: 100%;
    left:-100%;
    background: #fff;
    display:none;
    z-index: 999;
}

#gnb>ul>div{
    width: 100%;
    height: 60px;
    border-bottom:1px solid #ccc; 
    background: #ffffe0;
}

#gnb>ul>div>ul>li{
    position: relative;
    top:10px;
    left:20px;
    width: 70%;
    height: 50px;

    
}


#gnb>ul>li>a{
    position: relative;
    display: block;
    font-size: 16px;
    text-indent: 20px;
    padding: 15px 0;
    border-bottom:1px solid #ccc;
    font-weight: 600; 
}

#gnb>ul>li>a::after{
    content: "▼";
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
}

#gnb>ul>li:last-child>a::after{
    content: ">";
    display: block;
    font-size: 20px;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 45%;
    right: 43px;
    transform: translateY(-50%);
}


.depth2{
    display: none;
    padding-top:15px;
}


.depth2>li>a{
    display: block;
    padding:8px;
    font-size: 14px;
    text-indent: 20px;
    
}


/* loginPage부분 */

#loginPage{
    width: 100%;
    height: auto;
    
}

#loginPageIn{
    margin: 0 auto;
    background: #ffffe0;
    z-index: 100;
    position: fixed;
    width: 80%;
    height: 100%;
    right:-100%;
    display:none;
    z-index: 999;
}

.plogo{
    width: 100%;
    height: auto;
    padding: 15px 0;
}

.plogo>a{
    display: flex;
    justify-content: space-around;
    align-items:flex-start;
}

.plogo>a>p{
    font-weight: 600;
    color: #666;
}

.plogo>a>img{
    width: 145px;
    height: 60px;
    margin-top: 50px;
    margin-left: 40px;
}

.page{
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 10px 0;
}

.page>ul>li{
    width: 100%;
    height: auto;
    padding: 4px 0;
}



#login, #pw{
    width: 80%;
    height: 100%;
    border: 1px solid #ccc;
    margin-left: 38px;
    font-size: 12px;
    padding: 10px 0;
    text-indent: 10px;
    color: #ccc;
}

.l1{
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding: 5px 0;
}

.l1>a{
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #ffff99;
    padding: 5px 0;
    font-weight: 600;
    
}

.l2{
    width: 80%;
    height: auto;
    margin: 0 auto;
}
.l2>ul{
    width: 100%;
    height: auto;
    padding: 15px 0;
}

.l2>ul>li{
    display: flex;
    align-items: baseline;
    margin-left: 58px;
}


.l2>ul>li>a{
    display: block;
    width: 100%;
    height: auto;
    font-size: 12px;
    border-right: 1px solid #ccc;
    line-height: 13px;
    text-align: center;
}

.l2>ul>li>a:first-child{
    width: 25%;
}

.l2>ul>li>a:last-child{
    width: 52%;
    border-right:none; 
}



.iconpage{
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding: 20px 0;
}


.iconpage>ul>li{
    width: 100%;
    height: auto;
    padding: 5px 0;
    margin-bottom:15px;
    
}

.iconpage>ul>li>a{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.iconpage>ul>li:nth-child(1){
    background: #34ff33;
}

.iconpage>ul>li:nth-child(2){
    background: #0362ad;    
}

.iconpage>ul>li:nth-child(3){
    background: #ccc;
    
}

.iconpage>ul>li>a>img{
    width: 20px;
    height: 20px;
    margin-left: 30px;
}


.iconpage>ul>li>a>span{
    width: 100%;
    display: block;
    font-size: 12px;
    padding: 10px 0;
    font-weight: 600;
    text-align: center;
    color:#fff;
   
}







/* Main부분 */

#mainVisuel{
    position: relative;
    width: 100%;
    height: 100%;
    background:url("../images/main2.jpg") no-repeat center / cover;

}

#mainVisuel>ul{
    width: 100%;
}


#mainVisuel>ul>li>a{
    display: block;
    width: 360px;
    height: 90px;
    
}

/* gall1부분 */

#gall1{
    width: 100%;
    height: auto;
    margin-top:20px;
}

#gall1>ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

#gall1>ul>li{
    width: 47%;
    height: auto;
    margin: 0 auto 20px auto;

}

#gall1>ul>li:first-child{
    width: 90%;
}

#gall1>ul>li>p>span{
    display: block;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    
    
}


#gall1>ul>li>a>img{
    width: 100%;
    height: auto;
    
}


.tit{
    display: block;
    font-size: 16px;
    text-indent: 10px;
    padding-top: 20px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    
}

/* food부분 */
#food{
    width: 100%;
    height: auto;
    margin-top:20px;
    background: rgba(255,255,153,0.3);
}

#food>ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

#food>ul>li{
    width: 47%;
    height: auto;
    margin: 0px auto 20px auto;

}

#food>ul>li:first-child{
    width: 90%;
    margin-top:20px;
}

#food>ul>li:nth-child(4){
    width: 90%;
}

#food>ul>li:nth-child(5){
    padding:15px 0 ;
}
#food>ul>li:nth-child(6){
    padding:15px 0 50px 0  ;
}



#food>ul>li>p>span{
    display: block;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    
    
}

#food>ul>li>img{
    width: 100%;
    height: auto;
    
}

.food_font{
    text-align: center;
}

.food_t{
    font-size: 18px;
    font-weight: 900;
    line-height: 30px;

}

.food_c{
    display: block;
    margin-top:10px;
    font-size: 14px;
    line-height: 24px;
}

.font_box{
    width: 140px;
    height: 25px;
    margin: 0 auto;
    text-indent: 10px;
    border: 1px solid #666;
    font-weight: 600;
    line-height: 25px;
    margin-top:10px;
}
.font_box>a{
    display: block;

}



/* 공지사항 */

#sumimg{
    width: 90%;
    height: auto;
    margin: 40px auto 0 auto;
}

#sumimg>div:first-child{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

#sumimg>div:first-child>ul>li>p:first-child>span{
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom:10px;

}

#sumimg>div:first-child>ul>li>p:last-child>span{
    display: block;
    font-size: 12px;
    margin-bottom:30px;
    
}

.sum1, .sum2{
    position: relative;
    width: 100%;
    height: auto;
    border: 1px solid #999;
    text-indent: 20px;
    margin-bottom:15px;
}


#sumimg>div>p{
    width: 100%;
    height: auto;

    
}

.title{
    display: block;
    font-size: 18px;
    font-weight: 600;
    margin-top:15px;

}

.exp{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 10px;

}

.exp>a{
    position: relative;
    top:10px;
    right: 20px;
    display: block;
    width: 35px;
    height: 35px;
    border: 2px solid #ccc;
    border-radius: 50%;
   
    
}

.title_box{
    display: block;
    margin-top:9px;
    margin-left:9px;

}

.title_box>img{
    display: block;
    width: 16px;
    height: 16px;
}



.sum1_exp1, .sum2_exp2, .sum3_exp3, .sum4_exp4{
    display: block;
    font-size: 12px;
    margin-left:20px;
    line-height: 27px;
    font-weight: 600;
    color: #666;
}

.sum1_exp1{
    margin-bottom:40px;
}

.sum2_exp2{
    color:#333;

}

.sum3_exp3{
    color:#999;
    line-height: 21px;
    font-size: 12px;
    margin-top:-15px;
    margin-bottom:70px;

}

.sum4_exp4{
    position: absolute;
    bottom:0;
    right:30px;
    font-size: 16px;
    margin-bottom:20px;
    font-weight: normal;

}



/* btn부분 */

.sum_btn>ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.sum_btn>ul>li{
    width: 100%;
    height: auto;
    margin-bottom:15px;
}

.sum_btn>ul>li>a{
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    
}

.btns>img{
    width: 100%;
    height: 100%;
}

.sbtn{
    display: block;
    position: absolute;
    top:10px;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    text-indent: 10px;
    z-index: 99;

}

.bbg{
    display: block;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    text-indent: -9999;
    background: rgba(0,0,0,0.3);
}

/* partners 부분 */

#partners{
    width: 90%;
    height: auto;
    margin: 0 auto;
}

#partners>ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom:30px;
}

#partners>ul>li{
    position: relative;
    width: 45%;
    height: auto;
    margin: 20px auto 20px auto;
}

#partners>ul>li:nth-child(3){
    top: 10px;
    
} 

#partners>ul>li>a{
    display: block;
    width: 100%;
    height: auto;
    
}

#partners>ul>li>a>img{
    width: 150px;
    height: auto;
    
}


/* footer부분 */

footer{
    width: 100%;
    height: auto;
    background: black;
}


#fnav>ul>li{
    background: rgb(26,26,26);
    padding: 10px 0;
    margin: 0 auto;
}

#fnav>ul>li>a{
    position: relative;
    display: block;
    font-size: 16px;
    color: #fff;
    padding: 5px 0;
    text-indent: 10px;
    font-weight: 600;

}

.fsns{
    padding:50px 0;
}

.sns_icon>li{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 50%;
    margin: 0 auto;
}

.sns_icon>li>a{
    display: block;
    font-size: 24px;
    color:#fff;
}


.knum{
    display: block;
    width: 90%;
    font-style: normal;
    font-size: 14px;
    color: #ccc;
    padding: 5px 0;
    margin-left:20px;
    line-height: 24px;
    text-align: center;
    margin-bottom:100px;
}
.flogo{
    width: 100%;
    height: 50px;
    padding: 20px 0;
}
.flogo>a{
    display: block;
    position: relative;
    width: 200px;
    height: 80px;
    background: url("../images/flogo.png") no-repeat;
    margin: 0 auto;
    top:50%;
    transform: translateY(-50%);
    z-index: 99;
}

 /* footer 패밀리사이트 */
.select{
    width: 50%;
    height: auto;
    margin: 0 auto;
    border: 1px solid #fff;


}

.OG{
    position:relative;
    display:block;
    width:100%;
    height:auto;
    font-size:14px;
    line-height: 70px;
    text-indent: 20px;
    color:#fff;
    cursor: pointer;
}

.OG:before{
    position:absolute;
    top:0px;
    right:50px;
    content:"▼";
    display:block;
    width:7px;
    height:5px;
    color:#fff;
    
}

.fdepth2{
    position:relative;
    display:none;
    height:100%;
    padding-left: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    z-index:999;
    margin-bottom:15px;

}

.fdepth2 a{
    display:block;
    font-size:14px;
    color:#fff;
    text-indent: 10px;
    padding:10px 0;
}

